    /* latop 1439px-769px */
@media (max-width: 1025px) {
    /* index Page */
    /* header  */
    header {
        padding-inline: 45px;
    }

    .burger {
        display: block;
    }

    .HeaderNav {
        position: fixed;
        top: 98.4px;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        background-color: #C46A2B;
        transition: .4s linear;
    }

    .HeaderUl {
        flex-direction: column;
        row-gap: 8px;
    }

    .show {
        left: 0;
    }
    /* Section 1 */
    .HomePage_Section1{
        height: 560px;
    }

    /* Section 2 cards*/
    .HomePage_Section2{
        margin-right: 0;
    }
    .HomeCardContainer{
        overflow-x: scroll;
        padding-left: 45px;

    }
    .Cards{
        flex: 1 0 auto;
    }


    /* Catalog Page */
    /* Main Section */
    .Catalog_MainSection{
        padding-inline:45px;
    }
    .Card_9,
    .Card_10,
    .Card_11,
    .Card_12{
        display: none;
    }
    .Product{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(400px 400px 400px 400px) ;
        grid-template-areas: 
        "CARD1 CARD2"
        "CARD3 CARD4"
        "CARD5 CARD6"
        "CARD7 CARD8";
    }
}