/* mobile 480px - 320px */
/* Index page */
@media (max-width: 481px){
    /* Header */
    header{
        padding: 28px 20px;

    }
    .HeaderLogo{
        width: 40px;
        height: 40px;
    }
    .ButtonContainer{
        column-gap: 16px;
    }
    .HeaderButtons{
        width: 32px;
        height: 32px;
    }
    /* Section 1 */
    .HomeSection1_Text{
    font-size: 24px;
    }
    /* Section 2 */
    .HomePage_Section2{
        /* height: 544px; */
        padding-block: 32px;
    }
    .Section2_Title{
        font-size: 24px;
    line-height: 32px;
    }
    .HomeCardContainer{
        padding-left: 28px;
    }
    .Section2_Title::after{
        width: 156px;
    }
    /* no matter what i did the website lost responsivness,only solution i found was deleting this one card */
    .card3{
        display: none;
    }
    /* Footer */
    footer{
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
    .Footer_Section{
        align-items: center;
    }
    .Footer_List{
        align-items: center;
    }
    .Footer_Title::after{
        margin-inline: auto;
    }
    .SoctialIconContainer{
        justify-content: center;
    }
        /* Catalog Page */
    /* Main Section */
    .Catalog_MainSection{
        padding-inline:20px;
    }
    .Filter_txt,
    .SorterLabel{
        display: none;
    }
    .Card_5,
    .Card_6,
    .Card_7,
    .Card_8{
        display: none;
    }
    .Product{
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px 400px 400px;
        grid-template-areas: 
        "CARD1"
        "CARD2"
        "CARD3"
        "CARD4";
    }
    .Next,
    .Previous{
        padding-inline: 14px;
    }
    .Catalog_PageButtonTxt{
        display: none;
    }
    /* Contact Page */
    /* Main Section */
    .Contact_MainSection{
        height: 711px;
        padding:0;
    }
    .Contact_MainContainer{
        padding: 32px 20px;
    }
    .Contact_SeconarySection{
        flex-direction: column;
        row-gap: 40px;
    }
    .Contact_HeaderTxt{
        font-size: 16px;
        line-height: 24px;
    }
    .ContactInfo{
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        padding-block: 16px;
    }
    .ContactInfo_LeftSide{
        flex-direction: row;
        column-gap: 24px;
    }
    .Location_Logo_Container{
        width: 24px;
        height: 24px;
    }
    .ContactTxt{
        display: none;
    }
    form,
    .Map_Socials{
        width: 100%;
    }
    .Contact_SocialsContainer{
        justify-content: center;
    }


}
@media (max-width: 321px){
    /* Catalog Page */
    /* Main Section */
    .Catalog_MainSection{
        padding-inline:8px;
    }
    /* Contact Page */
    /* Mainc Section */
    .Contact_MainContainer{
        padding-inline: 8px;
    }
}
