/* This is tthe Main Container */
.container{
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 100px;
}
/* Index Page */
/* This is Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    max-width: inherit;
    background-color: #012426;
    padding: 16px 94px;
    border-bottom:2px solid #05BCCA ;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.burger,
.xMark {
    display: none;
}
.HeaderUl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 72px;
}
.HeaderText{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
    transition: all 0.3s linear;
}
.HeaderText:hover{
    text-shadow: 0 0 15px greenyellow;
}
.HeaderLogo{
    transition: all 0.3s linear;
}
.HeaderLogo:hover{
    filter: drop-shadow(0 0 7px rgb(219, 156, 37));
}
.ButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.HeaderButtons{
    background-color: transparent;
    border: 2px solid #05BCCA;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
    color: #05BCCA;
    font-size: 14px;

 
}
.HeaderButtons:hover{
    background-color: #05BCCA;
    color: #2C4246;

}
/* This is the First Section */
.HomePage_Section1{
    /* width:inherit; */
    height: 560px;
    background-image: url(../Images/HomePageCover.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 452px;
}
.HomeSection1_Content{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}
.HomeSection1_Text{
    font-family: "Inter";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}
span{
    color: #05BCCA;
}
.HomeSection1_Button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 24px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
    color: #D9D9D9;
    font-size: 24px;
    transition: all .3s linear;
}
.HomeSection1_Button:hover{
    box-shadow: 0 0 25px 5px rgb(83, 97, 6);
}



/* This is The Second Section */
.HomePage_Section2{
    /* height: 716px; */
    padding-block: 96px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 64px;
    background-color: #1A1A1A;
}
.Section2_Title{
    font-family: "Inter";
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
}
.Section2_Title::after{
    content: "";
    width: 187.27px;
    height: 2px;
    background-color: #05BCCA;
    display: block;
    margin-top: 8px;
    margin-inline: auto;
}
.HomeCardContainer{
    display: flex;
    column-gap: 20px;
}
.Cards{
    flex: 1;
    background-color: #2C4246;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
    transition: all .3s linear;
}
.Cards:hover{
    box-shadow: 0 0 8px 4px #05BCCACC;
}
.Cards img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.HomeCard_Section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 16px;
}
.HomeProduct_Name{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}
.HomeCard_Section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.fa-star{
    font-size: 16px;
    color: #C46A2B;
}
/* .Stars{
    display: flex;
    column-gap: 4px;
} */
.Price_Container{
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
.fa-dollar-sign, .Price{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
}


/* This is The footer */
footer{
    background-color: #2C4246;
    display: flex;
    justify-content: center;
    column-gap: 223px;
    padding-block: 48px;
}
.Footer_Section{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.Footer_Title{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
}
.Footer_Title::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: #D9D9D9;
    display: block;
}
.Footer_List{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.Footer_Text{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}
.SoctialIconContainer{
    display: flex;
    column-gap: 16px;
}
.Socials{
    font-size: 24px;
    color: #D9D9D9;
    transition: all .3s linear;
}
.Socials:hover{
    color: #C46A2B;
}


/* Catalog Page */
/* Mainc Section */
.Catalog_MainSection{
    background-color: #012426;
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.Catalog_SectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Filter_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}
.CatalogHeaderTxt{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}
.Sorting_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 32px;
}
.Sorter{
    padding:4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A1C3C9;
    column-gap: 33px;
    border-radius:4px ;
}
.SorterLabel{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;  
}
.Product{
    display: grid;
}
.Card_1{
    grid-area: CARD1;
}
.Card_2{
    grid-area: CARD2;
}
.Card_3{
    grid-area: CARD3;
}
.Card_4{
    grid-area: CARD4;
}
.Card_5{
    grid-area: CARD5;
}
.Card_6{
    grid-area: CARD6;
}
.Card_7{
    grid-area: CARD7;
}
.Card_8{
    grid-area: CARD8;
}
.Card_9{
    grid-area: CARD9;
}
.Card_10{
    grid-area: CARD10;
}
.Product{
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(3, 400px) ;
    gap: 40px 20px;
    grid-template-areas: 
    "CARD1 CARD2 CARD3 CARD4"
    "CARD5 CARD6 CARD7 CARD8";
}